---
apiVersion: kind.x-k8s.io/v1alpha4
kind: Cluster
networking:
  apiServerAddress: "0.0.0.0"
  disableDefaultCNI: true
featureGates:
  "EphemeralContainers": true

# add to the apiServer certSANs the name of the docker (dind) service in order to be able to reach the cluster through it
#kubeadmConfigPatchesJSON6902:
#  - group: kubeadm.k8s.io
#    version: v1beta2
#    kind: ClusterConfiguration
#    patch: |
#      - op: add
#        path: /apiServer/certSANs/-
#        value: 172.17.0.1

# patch the generated kubeadm config with some extra settings
#kubeadmConfigPatches:
#  - |
#    apiVersion: kubeadm.k8s.io/v1beta2
#    kind: ClusterConfiguration
#    metadata:
#      name: config
#    apiServer:
#      extraArgs:
#        enable-admission-plugins: NodeRestriction,PodSecurityPolicy

nodes:
  - role: control-plane
    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "ingress-ready=true"
    extraPortMappings:
      - containerPort: 80
        hostPort: 80
        protocol: TCP
      - containerPort: 443
        hostPort: 443
        protocol: TCP
#  - role: control-plane
#  - role: control-plane
#  - role: worker
