apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-ingress
  namespace: argocd
spec:
  destination:
    namespace: ingress-nginx
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  project: default
  source:
    chart: ingress-nginx
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 4.12.0
    helm:
      values: |
        controller:
          ingressClassResource:
            default: true
          watchIngressWithoutClass: true
          service:
            external:
              enabled: false
          extraArgs:
            publish-status-address: localhost
          metrics:
            enabled: true
            serviceMonitor:
              enabled: true
          hostPort:
            enabled: true
