name: sh-checker

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
#     paths:
#       - argocd/**
  push:
    branches-ignore:
      - main
#     paths:
#       - argocd/**

jobs:
  sh-checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run the sh-checker
        uses: luizm/action-sh-checker@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # SHELLCHECK_OPTS: -e SC1004 # exclude some shellcheck warnings.
          SHFMT_OPTS: -s -i 2 # arguments to shfmt.
        with:
          sh_checker_comment: true
          # sh_checker_exclude: ".terraform ^dir/example.sh"
